/* ==============================
   VARIABLES
============================== */
$font-stack: 'Montserrat', sans-serif;
$primary-color: #3FC1C9;
$main-color: #364F6B;
$text-color: #F5F5F5;
$detail-color: #FC5185;
$border-color: #2b9399;
$border-color-two: #416082;
/* ==============================
   BASIC
============================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-stack;
  font-size: 16px;
  background-color: $main-color;
  color: $text-color;
  min-height: 100vh;
  width: 320px;
}
/* ==============================
   NAVBAR
============================== */
nav {
  height: 52px;
  width: 100%;
  list-style: none;
  li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 70%;
    width: 25%;
    .nav-icon {
      display: block;
      margin: 5px;
    }
    a {
      display: inline-block;
      height: 52px;
      width: 100%;
      background-color: $primary-color;
      border-top: 3px solid $border-color;
      color: $text-color;
      text-align: center;
      text-decoration: none;
      transition: border-color 0.4s, background-color 0.4s;
      &:hover, &:active {
        border-color: $detail-color;
        background-color: $main-color;
      }
    }
    .selected {
      border-color: $detail-color;
      background-color: $main-color;
    }
  }
}
/* ==============================
   REUSABLE
============================== */
.overflow {
  width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-style {
  list-style: none;
  li {
    height: 52px;
    background-color: $main-color;
    border-bottom: 1px solid $border-color-two;
    transition: background-color 0.7s, border-color 0.7s;
    border-left: 3px solid $border-color-two;
    position: relative;
    &:hover {
      background-color: $primary-color;
      border-left: 3px solid $text-color;
    }
    .play-icon {
      position: absolute;
      color: $detail-color;
      left: 7px;
      top: 10px;
      font-size: 250%;
    }
    img {
      height: 50px;
      width: 50px;
      float: left;
    }
    .placeholder {
      height: 50px;
      width: 50px;
      float: left;
      background-color: #00BB27;
      font-size: 60%;
      padding: 20px 3px;
    }
  }
  .info {
    margin: 5px 0 0 10px;
    display: inline-block;
    position: absolute;
    p {
      margin: 0;
      @extend .overflow;
    }
    a {
      text-decoration: none;
      color: $text-color;
    }
    .track-name {
      font-size: 120%;
    }
    .track-artist {
      font-size: 80%;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
/* ==============================
   FILTER
============================== */
.filter {
  margin: 20px 10px 20px 0;
  text-align: center;
  font-size: 110%;
  p {
    display: inline-block;
    margin: 0 5px;
  }
  select {
    background-color: $main-color;
    color: $detail-color;
    font-size: 100%;
    border: 1px solid $primary-color;
    border-radius: 2px;
  }
}
/* ==============================
   TRACKS PAGE
============================== */
.list-of-tracks {

}
/* ==============================
   ARTISTS PAGE
============================== */
.list-of-artists {
  a {
    color: $text-color;
  }
  .info {
    margin-top: 12px;
    .artist-name {
      margin: 2px 0;
      font-size: 120%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
/* ==============================
   ALBUMS PAGE
============================== */
.list-of-albums {
  .info {
    .album-name {
      font-size: 120%;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
    .album-artist {
      font-size: 80%;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
/* ==============================
   SEARCH PAGE
============================== */
.search-page {
  .searchbar {
    border: 2px solid $primary-color;
    padding-left: 8px;
    margin: 20px auto 10px;
    width: 95%;
    input {
      height: 35px;
      width: 93%;
      font-size: 120%;
      color: $detail-color;
      border: none;
      background-color: $main-color;
      border-radius: 2px;
      padding-left: 8px;
    }
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $text-color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $text-color;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $text-color;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $text-color;
  }
  .options {
    input {
      width: 10%;
      margin-left: 10px;
    }
  }
  .search-results {
    h3 {
      margin: 30px 0 15px;
      text-align: center;
    }
    .info {
      .song-name {
        font-size: 120%;
        display: block;
        @extend .overflow;
      }
      .artist-name {
        font-size: 80%;
        @extend .overflow;
        &:hover {
          text-decoration: underline;
        }
      }
      .album-name {
        font-size: 120%;
        display: block;
        @extend .overflow;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .sp {
      margin-top: 15px;
    }
  }
}

/* ==============================
   ARTIST INFO
============================== */
.artist {
  .artist-name {
    height: 100px;
    img {
      height: 80px;
      float: left;
      margin: 10px;
      max-width: 100px;
    }
    .placeholder {
      height: 80px;
      width: 80px;
      float: left;
      background-color: $detail-color;
      margin: 10px;
      padding: 30px 5px;
    }
    h3 {
      float: left;
      margin-top: 40px;
      width: 200px;
    }
  }
  .join-website{
    margin-left: 10px;
    height: 60px;
    .joindate {
      font-size: 90%;
    }
    .website {
      color: $text-color;
      text-decoration: none;
      font-size: 80%;
    }
  }
  .info {
    .track-name {
      font-size: 120%;
      margin: 10px 0 0;
    }
  }
}

/* ==============================
   ALBUM INFO
============================== */
.album {
  .album-name {
    height: 100px;
    img {
      height: 80px;
      float: left;
      margin: 10px;
      max-width: 100px;
    }
    .placeholder {
      height: 80px;
      width: 80px;
      float: left;
      background-color: $detail-color;
      margin: 10px;
      padding: 30px 5px;
    }
    h3 {
      float: left;
      margin: 25px 0 5px;
      width: 200px;
    }
    .artist-name {
      font-size: 85%;
      color: $text-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .releasedate {
    font-size: 90%;
    margin-left: 10px;
  }
  .album-tracks {
    list-style: none;
    margin-top: 20px;
    li {
      height: 35px;
      background-color: $main-color;
      border-bottom: 1px solid $border-color-two;
      transition: background-color 0.7s, border-color 0.7s;
      border-left: 3px solid $border-color-two;
      position: relative;
      &:hover {
        background-color: $primary-color;
        border-left: 3px solid $text-color;
      }
      .simple-play-icon {
        float: left;
        color: $detail-color;
        margin: 8px 10px;
        font-size: 150%;
      }
      .track-name {
        padding-top: 8px;
        @extend .overflow;
        width: 278px;
      }
    }
  }
}
