/* ==============================
   VARIABLES
============================== */
$font-stack: 'Montserrat', sans-serif;
$primary-color: #364F6B;
$main-color: #3FC1C9;
$text-color: #F5F5F5;
$detail-color: #FC5185;
$border-color: #2b9399;
/* ==============================
   BASIC
============================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-stack;
  font-size: 16px;
  background-color: $main-color;
  min-height: 100vh;
}
/* ==============================
   NAVBAR
============================== */
nav {
  height: 52px;
  width: 100%;
  list-style: none;
  li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 70%;
    width: 25%;
    .nav-icon {
      display: block;
      margin: 5px;
    }
    a {
      display: inline-block;
      height: 52px;
      width: 100%;
      background-color: $primary-color;
      border-top: 3px solid $border-color;
      color: $text-color;
      text-align: center;
      text-decoration: none;
      &:hover, &:active {
        border-color: $detail-color;
        background-color: $main-color;
      }
    }
    .selected {
      border-color: $detail-color;
      background-color: $main-color;
    }
  }
}
/* ==============================
   TRACKS PAGE
============================== */
.list-of-tracks {
  list-style: none;
  li {
    height: 40px;
    background-color: $main-color;
    border-bottom: 1px solid $border-color;
  }
  a {
    color: $text-color;
    text-decoration: none;
    .play-icon {
      color: $detail-color;
      margin: 8px 8px 0;
      font-size: 180%;
    }
  }
}
